form {
   
   margin: auto; 
   display: block;
}
.form-input {
   border: none;
   background-color: rgb(216, 245, 255);
   width: 100%;
   margin-top: 20px;
   transition: all 3s;
   box-shadow: 2px 2px 2px rgb(0,0,0,0.2);
   color: black;
   padding: 5px;



}
.form-input:hover {
  border: 1px solid lightgray;


}
::placeholder {
   
font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.8rem;
    /* Make the placeholder text italic */
    /* You can add more styles as needed */
}

.custom-overlays {
  background-color: blue;
}
.gradient-overlays {
background-color: blue;
}
.paragraph {
  color: white;
  text-align: center;
}

.submit {
  background-color: #2a2781; 
  color: white; 
  border-radius: 10px; 
  margin: auto; 
  padding: 10px; 
  text-align: center;
  margin-top: 10px;
  width: 100px;
}

.submit:hover {
  background-color: #4775ad;
}
/* styling banners */
.blog-banners  h1 {
color: white;
text-align: center;

}
.page-title {
  padding: 200px;
}
.amount {
  font-weight: 700;
  margin-left: 50px;

}

/* illegal wrapper */
.illegal-wrapper {
  
   display: flex;
   flex-direction: row;
    text-align: left;
    gap: 12;

}
.background-style {
  border-bottom-left-radius: 30%;
  background-size: cover; 
  background-repeat: no-repeat; 
  height: 90vh; 
  background-position: top; 
  background-color: rgb(4, 16, 48);
  box-shadow: 3px 3px 3px 3px rgb(0,0,0,0.2);
}

/* Media screen */

@media screen and (max-width: 650px)  {
.illegal-wrapper {
  display: flex;
   flex-direction: column;
    text-align: left;
}
.form-input {
  width: 310px;
}

}
